<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="header">
    <img width="300" alt="Shoprite Logo" src="https://logodix.com/logo/1163611.png">
  </div>
  <div class="container">
    <h1 class="title">
      {{ title }}
    </h1>
    <p>{{ description }}</p>

    <app-grid (transmitGrid)="receiveData($event)"></app-grid>
  
    <p>{{ instructions }}</p>

    <app-file-reader [grid]="gridData"></app-file-reader>
  </div>
  
</div>



